<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Template vuejs</title>
    <script src="vue.js"></script>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="(menu, i) in menus">{{ menu }} voi index la {{ i }}</li>
        </ul>

        <ul>
            <li v-for="student in students">
                <div v-for="(value, key, index) in student">{{ key }}: {{ value }} ({{ index }})</div>
            </li>
        </ul>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                menus: ['Home', 'About', 'Blog', 'Contact', 'FAQ'],
                students: [
                    {
                        name: 'Sky',
                        age: 30,
                        class: 'CNTT'
                    },
                    {
                        name: 'John',
                        age: 33,
                        class: 'QTKD'
                    },
                    {
                        name: 'Dow',
                        age: 10,
                        class: 'CDT'
                    },
                ]
            },
            methods: {
                
            }
        })
    </script>
</body>
</html>